.result {
    gap: clamp(3rem, 6vw, 5rem);
    text-align: center;
    grid-auto-columns: 1fr;
    grid-template-areas:
            "user computer"
            "description description";
}

.result__icon-wrapper {
    min-width: min(25vw, 10rem);
    min-height: min(25vw, 10rem);
    display: grid;
    place-content: center;
    place-self: center;
}

.result__user, .result__computer {
    --gap: 3rem;
}

.result__user {
    grid-area: user;
}

.result__computer {
    grid-area: computer;
}

.result__description {
    grid-area: description;
    text-align: center;
}

.result__label {
    letter-spacing: var(--letter-spacing-2);
}

.result__winner::after {
    content: "";
    inset: 0;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 30px hsla(214deg, 47%, 23%, 0.8), 0 0 0 50px hsla(214deg, 47%, 23%, 0.6);
    z-index: -2;
}

@media (min-width: 64em) {
    .result {
        grid-template-areas: "user description computer";
    }

    .result__label {
        grid-row-start: 1;
    }

    .result__winner::after {
        box-shadow: 0 0 0 55px hsla(214deg, 47%, 23%, 0.8), 0 0 0 100px hsla(214deg, 47%, 23%, 0.6);
    }
}